.seriesList {
	list-style-type: none;
	padding: 0;
	max-height: 450px;
	overflow: auto;
}

.searchResult {
	display: flex;
	margin-top: 10px;
	color: black;
	cursor: pointer;
}

.searchResult .resultItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 5px;
}

.mono {
	color: #8e95a5;
	font-family: Roboto, sans-serif;
	font-size: .8rem;
	text-decoration: none;
}
