/* Generic stuffs 
-----------------------------------*/
html {
	height: 100%;
}

body,
#root {
	overflow: auto;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;
}

.appWrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
	padding-right: 10px;
	padding-left: 10px;
}

.center {
	text-align: center;
}

.textInWhite {
	color: white;
}

.highlight {
	background: #34d1bf;
	color: #fff;
	padding: 0px 5px;
	border-radius: 3px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	text-align: left;
	padding: 8px;
}

tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}

tbody tr:hover {
	background-color: #d0ccd0;
}

.cards {
	display: flex;
	justify-content: space-evenly;
	min-width: 200px;
	flex-wrap: wrap;
	align-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	/* border: 1px solid; */
	box-shadow: 2px 0px 4px #4281a4;
}

.card:hover {
	box-shadow: 4px 2px 4px #4281a4;
}

.cardTitle {
	text-align: left;
	background-color: rgba(66, 129, 164, .1);
	color: white;
	padding: 5px 10px;
	width: 100%;
}

.cardDescription {
	text-align: left;
	font-size: 12px;
	text-align: center;
}

/* Header stuffs
----------------------------------- */

.header {
	flex: none;
}

/* Footer Stuffs
----------------------------- */
.footer {
	background: #282c34;
	color: white;
	flex: none;
	margin-top: 40px;
}

/* Main stuffs
-------------------- */

.main {
	flex: 1 0 auto;
}

.search {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.search input {
	width: 100%;
	line-height: 50px;
}

.seriesList li:nth-of-type(odd) {
	background-color: #e5f2f4;
}

.description {
	background: linear-gradient(rgba(66, 129, 164, 0.9), rgba(66, 129, 164, 0.9)), url('../../assets/cover.png') center;
	padding: 10px;
	min-height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.inputSection {
	margin-top: 25px;
	width: 98%;
}

.wiki {
	display: flex;
	flex-direction: column;
	flex: none;
	text-align: left;
	font-size: .95rem;
	background-color: #fbfcff;
	padding: 10px 20px;
	box-shadow: 5px 5px 10px #4281a4;
	line-height: 1.7rem;
}

.wiki h2 {
	font-weight: 500;
	margin-bottom: 10px;
}

/* Mobile Phones */
@media (min-width: 320px) and (max-width: 480px) {
	.wiki {
		align-self: stretch;
		margin-top: 20px;
		box-shadow: 1px 1px 2px #4281a4;
	}

	.card {
		margin-bottom: 10px;
	}

	.search {
		max-width: 96%;
	}
}

/* Mobile Phones in Landscape, Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
	.seriesInfo {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.seriesSummary {
		order: 2;
		max-width: 100%;
		margin-top: 20px;
	}

	.wiki {
		box-shadow: none;
	}
}
