.prevEpisode p {
	margin: 0;
}

.noMargin {
	margin: 0;
}

.seriesContainer,
.personContainer,
.castWrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	/* align-items: space-around; */
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.seriesContainer a,
.personContainer a,
.episodesWrapper a,
.castWrapper a {
	text-decoration: none;
	color: #4281a4;
}

.seriesContainer h1,
.personContainer h1,
.episodesWrapper h1,
.castWrapper h1 {
	font-size: 2.8rem;
	font-weight: 300;
	align-self: flex-start;
	margin-top: 40px;
}

.seriesInfo,
.personInfo {
	display: flex;
	margin: 20px auto;
	line-height: 1.5rem;
}

.personInfo {
	display: flex;
	justify-content: flex-start;
}

.personInfo .wiki {
	box-shadow: none;
	margin-left: 10px;
}

.seriesInfo img,
.personInfo img {
	flex: none;
	height: 290px;
}

.seriesSummary {
	max-width: 50vw;
	text-align: justify;
	margin: 0 15px;
}

.officialLink {
	margin-top: 15px;
}

.currentEpisodes {
	display: flex;
	flex: none;
	justify-content: space-around;
	min-width: 200px;
}

.currentEpisodeSummary {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #fbfcff;
	box-shadow: 1px 1px 2px #4281a4;
	padding: 0 20px;
	min-width: 300px;
	margin-right: 1px;
}

.recentEpisodes h3,
.impCasts h3,
.currentEpisodeSummary h3,
.castCredit h3,
.episodesWrapper h2,
.castWrapper h2 {
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 10px;
	text-align: left;
}

.recentEpisodes,
.impCasts,
.castCredit {
	margin-top: 40px;
	align-self: stretch;
}

.epInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.epInfo span span {
	margin-left: 4px;
}

.seeAll {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

.seeAll span {
	border: 1px solid #4281a4;
	padding: 5px;
	border-radius: 8px;
}

.seeAll span:hover {
	background-color: #4281a4;
	color: #fff;
}

.episodesWrapper,
.castWrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.seasonTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	margin-top: 20px;
	background-color: #4281a4;
	padding: 0px 20px;
}

.seasonTitle span {
	margin-right: 20px;
	font-size: 1.5rem;
}
td.episodeTitle {
	width: 70%;
}

h1.seriesName {
	font-size: 2.8rem;
	font-weight: 300;
	align-self: flex-start;
	margin-top: 40px;
	text-align: left;
	margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.seriesContainer,
	.personConteainer,
	.episodesWrapper,
	.castWrapper {
		max-width: 480px;
		display: flex;
	}

	.episodesWrapper,
	.castWrapper {
		flex-direction: column;
		padding: 0 10px;
	}

	.seriesContainer h1,
	.personContainer h1,
	.episodesWrapper h1,
	.castWrapper h1 {
		margin-top: 15px;
		font-size: 2.4rem;
	}

	.seriesInfo,
	.personInfo {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 400px;
	}

	.seriesSummary {
		max-width: 100%;
	}

	.seriesInfo img,
	.personInfo img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}

	.currentEpisodes {
		flex-wrap: wrap;
	}

	.currentEpisodeSummary {
		margin-top: 10px;
		width: 100%;
	}
}

@media (min-width: 670px) and (max-width: 1024px) {
	.impCasts .card:last-child {
		display: none;
	}
}
