.header {
	background-color: #34d1bf;
	min-height: 10vh;
	font-size: calc(10px + 2vmin);
	color: white;
}
.headerWrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo a p {
	font-family: 'Monoton', cursive;
	margin-right: 20px;
	font-size: 2rem;
}

.header a {
	text-decoration: none;
	color: white;
}

.activeNow {
	border-bottom: 3px solid #fff;
}

.navItem {
	margin-right: 20px;
	padding: 10px auto;
}
